<div class="main">
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>

  <div class="content">
    <div style="display: flex; justify-content: space-between;">
      <div class="heading">Рецензии</div>
      <mat-form-field style="color: black;">
        <mat-label style="color: black;">Статус рецензий</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChange($event.value)">
          <mat-option value="CREATED">На проверке</mat-option>
          <mat-option value="REJECTED">Отклоненные</mat-option>
          <mat-option value="VERIFIED">Принятые</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="reviews-list">
      <div *ngFor="let review of reviews" class="review">
        <div class="filmName-review"> {{ review.filmName }} </div>
        <div class="header-review"> {{ review.header }} </div>
        <div class="text-review"> {{ review.textReview }} </div>
        <div class="button-container">
          <button mat-raised-button class="button-review" *ngIf="selectedStatus === 'REJECTED'"
            (click)="updateReview(review)">Редактировать</button>
        </div>
      </div>
    </div>
  </div>
</div>