<div style="background-color: rgb(155, 151, 151); height: 100%;">
    <div class="info">
        <div style="font-size: 12pt; margin-top: 35px; margin-left: 20px;">{{name}} {{surname}}</div>
        <div style="font-size: 10pt; margin-top: 20px; margin-right: 20px;">Перед публикацией<br> рецензии ее
            проверит<br> администратор сервиса</div>
    </div>
    <div class="main">
        <mat-form-field class="inputHeader">
            <mat-label>Введите заголовок</mat-label>
            <input matInput type="text" placeholder="Введите заголовок"[(ngModel)]="newReview.header" required>
        </mat-form-field>

        <mat-form-field class="inputText">
            <mat-label>Введите текст рецензии</mat-label>
            <textarea matInput placeholder="Текст рецензии" [(ngModel)]="newReview.textReview" required></textarea>
        </mat-form-field>

        <button mat-button color="black" style="font-size: 12pt;" (click)=" createReview()">Отправить рецензию</button>
    </div>
</div>